@import "tailwindcss";

:root {
  --background: #FEFDF3;
  --foreground: #40281C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231F20;
    --foreground: #FEFDF3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}